/*
.container{
	margin-top: 5em;
	margin-bottom:10em;
}

.textazul{
	color:dodgerblue;
}
*/


/* Estilos del menu*/
pre{
    background: #000000;
    border-left: 3px solid #0099DD;
    color: white;
    padding: 10px;
    font-size: 12px;
}
.ui.inverted.segment {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.ui.secondary.inverted.pointing.menu {
    border-width: 0px;
    border-color: none;
}

.ui.secondary.inverted.pointing.menu {
    border-color: none;
}

.ui.secondary.pointing.menu {
    border-bottom: 0px solid rgba(34, 36, 38, 0.15);
}


/* Botones*/


/*

*/

.ui.button {
    font-weight: 300;
}

.ui.orange.button {
    background-color: rgba(255, 143, 3, 0.8);
    /*background-image: linear-gradient(to left, rgb(255, 183, 94), rgb(237, 143, 3));*/
    font-weight: 300;
}

.ui.orange.button:hover {
    background-color: rgba(255, 143, 3, 0.95);
    /*background-image: linear-gradient(to left, rgb(255, 183, 94), rgb(237, 143, 3));*/
    font-weight: 300;
}

a {
    color: #91A3AD;
}

a:hover {
    color: #009CC9;
}

.ui.teal.button {
    background-color: #0099CE;
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
}

i.icon {
    color: #6BC0E9;
}


/* Estilos generales*/

body {
    /*background: #FAFCFE;*/
    background-color: #edf1f5;
}

.ui.header.paginacion {
    text-transform: uppercase;
    padding: 0;
    font-weight: 100;
    margin: 0;
}

center {
    font-weight: 300;
}

.ui.raised.segments,
.ui.raised.segment {
    box-shadow: none;
}

.ui.form input[type="text"] {
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em font-weight: 300;
}

.shadow-bottom {
    -webkit-box-shadow: -4px 21px 43px -22px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: -4px 21px 43px -22px rgba(0, 0, 0, 0.72);
    box-shadow: -4px 21px 43px -22px rgba(0, 0, 0, 0.72)!important;
}

.border-card {
    border: 1px solid #D4D4D5!important;
}

.p-lg {
    padding: 2em!important;
}

.p-bottom-md {
    padding-bottom: 2em!important;
}

.p-top-lg {
    padding-top: 3em!important;
}

.p-top-md {
    padding-top: 1em!important;
}

.p-bottom-lg {
    padding-bottom: 3em!important;
}

.img-section-for {
    margin-bottom: 2em;
}